/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900');*/

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;700');
body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Figtree', sans-serif;
    width: 100%;
}

.App {
    text-align: center;
    font-family: 'Figtree', sans-serif;
    ;
}

.home {
    width: 50%;
    margin: auto;
    margin-bottom: 10%;
}

.content-login {
    width: 50%;
}

.logo,
.input-comment {
    width: 100%;
    margin-top: 5%;
}

.group-logo {
    width: 50%;
}

.div-btn {
    width: 100%;
}

.btn-loginsignup {
    width: 20%;
    height: 50px;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 18px;
    background-color: #FFD7D7;
    border: solid #FFD7D7;
    border-radius: 20px;
}

.btn-loginsignup1 {
    width: 20%;
    height: 50px;
    background-color: #FFD7D7;
    border: solid #FFD7D7;
    border-radius: 20px;
    font-size: 18px;
}

.label-email,
.label-password,
.label-username {
    font-size: 20px;
}

#login-email,
#login-pass {
    width: 100%;
    padding-left: 2%;
    font-size: 20px;
}

.Loginform,
.Signupform,
.profile-form {
    border: 2px solid #FFD7D7;
    background-color: #FFD7D7;
    width: 100%;
}


/* -----------------page home ------------------*/

.LogoButton1 {
    width: 30%;
    height: 60px;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 19px;
    background-color: #FFD7D7;
    border: solid #FFD7D7;
    border-radius: 20px;
}

.LogoButton2 {
    width: 15%;
    height: 60px;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 19px;
    background-color: #FFD7D7;
    border: solid #FFD7D7;
    border-radius: 20px;
}

.allPost,
.post-div {
    width: 100%;
}

.input-post {
    width: 100%;
}

#label-post {
    font-size: 30px;
}

#post-titre,
#post-content {
    font-size: 20px;
    padding-left: 3%;
    height: 50px;
}

form input {
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    border: 3px solid #FFD7D7;
    box-shadow: 1px 1px 1px #FFD7D7;
    border-radius: 20px;
    outline: none;
}

.inputfile {
    width: 0.1px;
    border: 2px solid #FFD7D7;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileButton {
    justify-content: center;
    margin-top: 5%;
    border: 2px solid #FFD7D7;
    border-radius: 20px;
    width: 20%;
    height: 50px;
    font-size: 20px;
    background-color: #FFD7D7;
}

.btn-poster {
    margin-top: 5%;
    border: 2px solid #FFD7D7;
    border-radius: 20px;
    width: 20%;
    height: 40px;
    margin-bottom: 5%;
    font-size: 20px;
    background-color: #FFD7D7;
}

.post-Page {
    display: flex;
    justify-content: center;
    width: 100%;
}

#post-user {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    font-style: italic;
    background-color: #FFD7D7;
    border: 2px solid #FFD7D7;
}

#title {
    font-weight: bolder;
    font-size: 25px;
}

#content {
    font-size: 25px;
}

.btn-suppmodif {
    width: 100%;
    margin-top: 5%;
}

.supprimer,
.modifier {
    background-color: #FFD7D7;
    border: #FFD7D7;
    width: 25%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 3%;
}

.creat-comment {
    width: 100%;
}

#label-cmnt {
    width: 100%;
    height: 50px;
    margin-top: 5%;
}

#btn-comment {
    background-color: #FFD7D7;
    border: #FFD7D7;
    width: 20%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 3%;
}

.cmnt {
    width: 100%;
    border: 2px solid black;
    /*padding-left: 10px;*/
    border-radius: 20px;
    background-color: whitesmoke;
    margin-top: 3%;
}

.user-cmnt {
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 25px;
    padding-left: 5%;
    word-break: break-all;
}

.cmnt-content {
    display: flex;
    justify-content: flex-start;
    font-weight: normal;
    font-size: 25px;
    padding-left: 5%;
    word-break: break-all;
}

.cmnt-date {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    font-size: 15px;
}

#post-titre-edit,
#post-content-edit {
    width: 50%;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 5%;
}

#title1,
#content1 {
    font-size: 20px;
}

#postImg {
    justify-content: center;
    width: 40%;
}


/*-------------- page profile ----------------*/

.container-user {
    width: 50%;
}

.user-profil {
    width: 100%;
}

.profil-form {
    width: 100%;
}

.input-container {
    width: 100%;
    font-size: 20px;
}

#signup-username,
#signup-email {
    width: 100%;
    height: 50px;
    font-size: 25px;
    padding-left: 3%;
}

.btn-supp-home {
    width: 100%;
}

.content,
#fileButtonDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

form label {
    display: block;
}

h1 {
    font-size: 20px;
    font-weight: 50;
}

@media screen and (max-width:1175px) {
    .content {
        width: 100%;
    }
    .home {
        width: 70%;
    }
    .logo {
        width: 100%;
    }
    .group-logo {
        width: 30%;
        margin: auto;
    }
    .div-btn {
        width: 100%;
    }
    .LogoButton1 {
        width: 20%;
        height: 50px;
        font-size: 15px;
    }
    #fileButtonDiv {
        width: 100%;
    }
    #fileButton {
        width: 15%;
        height: 50px;
        font-size: 19px;
    }
    .btn-poster {
        width: 15%;
        font-size: 19px;
    }
    #btn-comment {
        width: 15%;
        height: 40px;
        font-size: 19px;
    }
    #label-post {
        font-size: 25px;
    }
    /*--------------page profile-------------*/
    .container-user {
        width: 70%;
    }
    .supprimer,
    .modifier {
        width: 15%;
        font-size: 15px;
    }
}

@media screen and (max-width:981px) {
    .content {
        width: 100%;
    }
    .content-login {
        width: 60%;
    }
    .logo {
        width: 100%;
        margin: auto;
        margin-top: 10%;
    }
    .group-logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .div-btn {
        width: 100%;
    }
    .LogoButton1 {
        width: 10%;
        height: 50px;
        font-size: 17px;
    }
    .LogoButton2 {
        width: 15%;
        height: 60px;
        font-size: 17px;
    }
    h1 {
        font-size: 17px;
    }
    .btn-loginsignup,
    .btn-loginsignup1 {
        width: 27%;
        height: 40px;
        font-size: 15px;
    }
    .label-email,
    .label-password,
    .label-username {
        font-size: 17px;
    }
    #login-email,
    #login-pass {
        width: 100%;
        font-size: 17px;
    }
    /*---------- page home------------------- */
    .home {
        width: 93%;
    }
    #post-user {
        font-size: 18px;
        width: 100%;
    }
    .group-logo {
        width: 50%;
        margin: auto;
    }
    .div-btn {
        width: 100%;
        margin-bottom: 5%;
    }
    .LogoButton1 {
        width: 30%;
        height: 45px;
        font-size: 18px;
    }
    #label-post {
        font-size: 18px;
    }
    #btn-comment {
        width: 17%;
        height: 50px;
        font-size: 17px;
    }
    #fileButtonDiv {
        width: 100%;
    }
    #fileButton {
        width: 15%;
        height: 50px;
        font-size: 18px;
    }
    .btn-poster {
        width: 17%;
        font-size: 18px;
    }
    #post-user {
        font-size: 18px;
        width: 100%;
    }
    #title,
    #content {
        font-size: 18px;
    }
    #postImg {
        width: 35%;
    }
    .btn-suppmodif {
        width: 100%;
    }
    .supprimer,
    .modifier {
        width: 25%;
        font-size: 17px;
    }
    .user-cmnt,
    .cmnt-content {
        font-size: 19px;
    }
    .cmnt-date {
        font-size: 12px;
    }
    .cmnt {
        width: 100%;
    }
    /*----------page profile----------*/
    .container-user {
        width: 80%;
    }
    .btn-supp-home {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width:631px) {
    .content {
        width: 100%;
    }
    .content-login {
        width: 75%;
    }
    h1 {
        font-size: 15px;
    }
    .btn-loginsignup,
    .btn-loginsignup1 {
        width: 30%;
        height: 40px;
        font-size: 13px;
    }
    .Loginform {
        width: 100%;
    }
    .input-container {
        width: 100%;
    }
    .label-email,
    .label-password,
    .label-username {
        font-size: 15px;
    }
    #login-email,
    #login-pass {
        width: 100%;
        font-size: 15px;
    }
    #btn-comment {
        width: 20%;
        height: 50px;
        font-size: 15px;
    }
    /* ------------page home --------------*/
    .home {
        width: 90%;
    }
    #post-user {
        font-size: 18px;
        width: 100%;
    }
    .div-btn {
        width: 100%;
    }
    .group-logo {
        width: 80%;
    }
    .div-btn {
        width: 100%;
    }
    .LogoButton1 {
        width: 35%;
        height: 50px;
        font-size: 13px;
    }
    .LogoButton2 {
        width: 20%;
        height: 50px;
        font-size: 15px;
    }
    #fileButton {
        width: 20%;
        height: 40px;
        font-size: 15px;
    }
    #postImg {
        width: 30%;
    }
    .btn-poster {
        font-size: 15px;
        width: 20%;
    }
    .cmnt {
        width: 100%;
    }
    /*--------------page profile -----------*/
    .container-user {
        width: 85%;
    }
    .btn-supp-home {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width:500px) {
    .content {
        width: 100%;
    }
    .content-login {
        width: 90%;
    }
    .logo {
        width: 100%;
        margin-top: 10%;
    }
    .group-logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    h1 {
        font-size: 15px;
    }
    .btn-loginsignup,
    .btn-loginsignup1 {
        width: 40%;
        height: 35px;
        font-size: 13px;
    }
    .label-email,
    .label-password,
    .label-username {
        font-size: 15px;
    }
    #login-email,
    #login-pass {
        width: 100%;
        font-size: 15px;
    }
    /* --------------page home -----------------------------*/
    .home {
        width: 95%;
    }
    #post-user {
        font-size: 18px;
        width: 100%;
    }
    .group-logo {
        width: 80%;
    }
    .div-btn {
        width: 100%;
    }
    .container-user {
        width: 98%;
    }
    .LogoButton1 {
        width: 20%;
        height: 55px;
        font-size: 11px;
    }
    .btn-poster {
        font-size: 13px;
        width: 18%;
    }
    #fileButton {
        width: 20%;
        height: 40px;
        font-size: 13px;
    }
    #postImg {
        width: 25%;
    }
    #label-post {
        font-size: 16px;
    }
    .supprimer,
    .modifier {
        width: 30%;
        font-size: 15px;
    }
    #btn-comment {
        width: 23%;
        height: 50px;
        font-size: 13px;
    }
    .cmnt {
        width: 100%;
    }
}

@media screen and (max-width:375px) {
    .content {
        width: 100%;
    }
    .content-login {
        width: 95%;
    }
    .logo {
        width: 100%;
        margin: auto;
        margin-top: 10%;
    }
    .group-logo {
        width: 50%;
    }
    h1 {
        font-size: 13px;
    }
    .btn-loginsignup,
    .btn-loginsignup1 {
        width: 50%;
        height: 40px;
        font-size: 11px;
    }
    .Loginform {
        width: 100%;
    }
    .input-container {
        width: 100%;
    }
    .label-email,
    .label-password,
    .label-username {
        font-size: 13px;
    }
    #login-email,
    #login-pass {
        width: 100%;
        font-size: 13px;
    }
    /*---------------- page home ------------------*/
    .home {
        width: 97%;
    }
    .group-logo {
        width: 60%;
    }
    .div-btn {
        width: 100%;
    }
    .LogoButton1 {
        width: 30%;
        height: 50px;
        font-size: 11px;
    }
    .LogoButton2 {
        width: 25%;
        height: 50px;
        font-size: 13px;
    }
    .btn-poster {
        font-size: 11px;
        width: 30%;
    }
    #fileButton {
        width: 25%;
        height: 40px;
        font-size: 10px;
    }
    #postImg {
        width: 23%;
    }
    #label-post {
        font-size: 14px;
    }
    #post-user {
        font-size: 14px;
        width: 100%;
    }
    #title,
    #content {
        font-size: 14px;
    }
    .supprimer,
    .modifier {
        width: 30%;
        font-size: 12px;
    }
    #btn-comment {
        width: 35%;
        height: 35px;
        font-size: 11px;
    }
    .user-cmnt,
    .cmnt-content {
        font-size: 13px;
    }
    .cmnt-date {
        font-size: 10px;
    }
    .cmnt {
        width: 98%;
    }
    /*---------------page profile----------*/
    .container-user {
        width: 90%;
    }
    .btn-supp-home {
        width: 100%;
        margin: auto;
    }
}